src/main/mule/sms-services.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:email="http://www.mulesoft.org/schema/mule/email"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
          http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
          http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

    <!-- ==================== GLOBAL CONFIGURATION ==================== -->

    <configuration-properties file="config.yaml" doc:name="Configuration properties" doc:id="d2a7f76f-2ff9-4121-b139-afa8406aba4f"/>

    <email:smtp-config name="Email_SMTP_Config" doc:name="Email SMTP Config" doc:id="b3c1e9a2-7f4d-4e8b-a521-3d9f6c2e1b05">
        <email:smtp-connection host="${email.host}" port="${email.port}" user="${email.username}" password="${email.password}"/>
    </email:smtp-config>

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4cf8b18a-c6fc-4712-9787-f5781dc84ca1">
        <http:listener-connection host="0.0.0.0" port="8877"/>
    </http:listener-config>

    <http:request-config name="Telemesser_Request_config" doc:name="Telemesser HTTP Request configuration" doc:id="0a089fed-2127-439e-8647-4f5359c46218" responseTimeout="30000">
        <http:request-connection host="telemesser.co.il" protocol="HTTPS" port="443"/>
    </http:request-config>

    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="81a869e4-3383-4e37-8be9-e72935ece82a">
        <salesforce:basic-connection username="${salesforce.username}" password="${salesforce.password}" securityToken="${salesforce.securityToken}"/>
    </salesforce:sfdc-config>

    <!-- ==================== FLOW 1: SEND BULK SMS ==================== -->

    <flow name="send-bulk-sms-flow" doc:id="02c91aed-9627-40f8-bcda-8c82e71b8f91">
        <http:listener doc:name="Listener" doc:id="e12643d8-ff8c-427f-9a00-745ba66b7056" config-ref="HTTP_Listener_config" path="/sb-sms/send-bulk" allowedMethods="POST">
            <http:error-response statusCode="#[vars.httpStatus default 500]"/>
        </http:listener>
        <logger level="INFO" message="ClaudeCode-SB-SMS-Services - send-bulk-sms-flow - START" doc:name="Logger" doc:id="97434015-36ee-47ce-a543-013be8fe7d8f"/>

        <!-- Store all inputs into vars with trim() -->
        <set-variable variableName="senderName" value="#[trim(payload.senderName default '')]" doc:name="Store Sender Name" doc:id="20d30815-7846-4a13-b097-387f433de59f"/>
        <set-variable variableName="sendId" value="#[trim(payload.sendId default '')]" doc:name="Store Send ID" doc:id="f385895d-e5b5-4609-a56a-e29ac700b082"/>
        <set-variable variableName="subscribers" value="#[trim(payload.subscribers default '')]" doc:name="Store Subscribers" doc:id="d2e43c5c-b08f-4fbb-8fbb-fe07a7fc1919"/>
        <set-variable variableName="message" value="#[trim(payload.message default '')]" doc:name="Store Message" doc:id="b1ba2c17-b49d-4ba8-b4f2-4ee3165a0a07"/>
        <set-variable variableName="telemesserUsername" value="${telemesser.username}" doc:name="Store Telemesser Username" doc:id="b5914195-28ce-4566-add2-2aa5f312226d"/>
        <set-variable variableName="telemesserPassword" value="${telemesser.encryptPassword}" doc:name="Store Telemesser Password" doc:id="8be3020b-eeb2-4826-89bc-a284a6166466"/>

        <logger level="INFO" message="#['Bulk SMS request received - sendId: ' ++ vars.sendId ++ ', senderName: ' ++ vars.senderName]" doc:name="Log Request" doc:id="1e530f3a-cb75-4a67-863d-f2a919962072"/>

        <!-- Validate required fields -->
        <choice doc:name="Validate Required Fields" doc:id="21b2b2ec-a9d7-4e3a-8e4d-d5d25a1b952a">
            <when expression="#[sizeOf(vars.senderName) == 0 or sizeOf(vars.sendId) == 0 or sizeOf(vars.subscribers) == 0 or sizeOf(vars.message) == 0]">
                <raise-error type="APP:INVALID_INPUT" description="Missing required field. senderName, sendId, subscribers, and message are all required." doc:name="Raise Invalid Input Error" doc:id="6625394c-e0ed-400b-8a31-d3005ab63f7d"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Input validation passed" doc:name="Validation Passed" doc:id="e3b0fe81-505f-4489-886e-92b7bd11201c"/>
            </otherwise>
        </choice>

        <!-- Split, deduplicate and chunk subscribers into batches of 1000 -->
        <ee:transform doc:name="Chunk Subscribers into Batches of 1000" doc:id="5a3dce66-2fdf-4173-9d5a-ce4209e3d239">
            <ee:variables>
                <ee:set-variable variableName="subscriberChunks"><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/java
---
chunk((vars.subscribers splitBy ',' map trim($)) distinctBy $, 1000)]]></ee:set-variable>
            </ee:variables>
        </ee:transform>

        <set-variable variableName="totalCount" value="#[sizeOf(vars.subscriberChunks flatten 1)]" doc:name="Store Total Unique Count" doc:id="7e4ea55d-9726-4bf8-86d6-3f50b31f8bf9"/>
        <set-variable variableName="failedCount" value="#[0]" doc:name="Init Failed Count" doc:id="9912e767-7898-45f4-83a1-b594467a2f9e"/>

        <logger level="INFO" message="#['Processing ' ++ vars.totalCount ++ ' unique subscribers in ' ++ sizeOf(vars.subscriberChunks) ++ ' batch(es)']" doc:name="Log Batch Plan" doc:id="c69e0620-7009-4364-b1be-355d6bf3b5c0"/>

        <!-- Iterate over each batch of up to 1000 subscribers -->
        <foreach collection="#[vars.subscriberChunks]" doc:name="For Each Batch" doc:id="6473d2ea-2f9c-44fa-a9e1-e317b9f0abc3">
            <try doc:name="Try Telemesser Call" doc:id="0f4f77fa-4ef7-4356-b5d3-b49efb018756">
                <set-variable variableName="currentBatchSize" value="#[sizeOf(payload)]" doc:name="Store Current Batch Size" doc:id="eff18ca3-87fe-4731-91dc-1672ed37e489"/>
                <ee:transform doc:name="Build Telemesser Request Body" doc:id="f070634f-f778-4864-88fe-bd856dc2f6ef">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    Credentials: {
        UserName: vars.telemesserUsername,
        EncryptPassword: vars.telemesserPassword
    },
    SenderName: vars.senderName,
    DeliveryDelayInMinutes: 0,
    ExpirationDelayInMinutes: 300,
    SendId: vars.sendId,
    Messages: payload map (phone) -> {
        Cli: phone,
        Text: vars.message,
        MsgId: uuid()
    }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <http:request method="POST" doc:name="Call Telemesser SendSMS API" doc:id="06a8c5c0-0b0b-493d-aa55-e457a6c91284" config-ref="Telemesser_Request_config" path="/api/SendSMS">
                    <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
                </http:request>
                <logger level="INFO" message="#['Telemesser batch sent successfully - batch size: ' ++ vars.currentBatchSize]" doc:name="Log Batch Success" doc:id="7d885048-6c62-4b97-bb85-1007b341537f"/>
                <error-handler>
                    <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="3a75d18d-8679-4015-a20b-6494a1c81082" type="ANY">
                        <set-variable variableName="failedCount" value="#[vars.failedCount + vars.currentBatchSize]" doc:name="Increment Failed Count" doc:id="1461c68d-e954-43cc-8629-ca6282a6595b"/>
                        <logger level="WARN" message="#['Telemesser batch failed - batch size: ' ++ vars.currentBatchSize ++ ' - error: ' ++ (error.description default '')]" doc:name="Log Batch Failure" doc:id="748ef3b8-f796-405b-858c-160530ce3051"/>
                    </on-error-continue>
                </error-handler>
            </try>
        </foreach>

        <!-- Build final response based on success/failure counts -->
        <ee:transform doc:name="Build Final Response" doc:id="00f3f271-0704-47ce-8641-b928e0207529">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (vars.failedCount == 0)
    {status: "S", message: ""}
else if (vars.failedCount < vars.totalCount)
    {status: "W", message: (vars.failedCount as String) ++ " recipients (out of " ++ (vars.totalCount as String) ++ " unique) were invalid"}
else
    {status: "E", message: "All " ++ (vars.totalCount as String) ++ " recipients failed to send"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO" message="#['Bulk SMS completed - total: ' ++ vars.totalCount ++ ', failed: ' ++ vars.failedCount ++ ', status: ' ++ payload.status]" doc:name="Log Final Result" doc:id="323c33fc-377b-4440-9395-29e91938da57"/>
        <logger level="INFO" message="ClaudeCode-SB-SMS-Services - send-bulk-sms-flow - END" doc:name="Logger" doc:id="22b5b5ff-9a16-460b-9410-12f88ddbd73e"/>

        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="cce2e641-7a95-4a0e-acd3-720a0cfb5ed0" type="APP:INVALID_INPUT">
                <set-variable variableName="httpStatus" value="400" doc:name="Set HTTP Status 400" doc:id="a80e39b2-fa15-4057-b545-292ed8350021"/>
                <set-payload value="#['Bad Request: ' ++ (error.description default '')]" doc:name="Set Error Payload" doc:id="b0b1c1f6-d12f-4fc9-beb7-bec04e6f5662" mimeType="text/plain"/>
                <logger level="WARN" message="#['send-bulk-sms-flow validation error: ' ++ (error.description default '')]" doc:name="Log Validation Error" doc:id="7ca3d2e0-f095-40fc-9ca0-da3298c5a636"/>
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e58f81dc-86da-42ad-8044-b581dd30ec3b" type="ANY">
                <set-variable variableName="httpStatus" value="500" doc:name="Set HTTP Status 500" doc:id="65e74df1-de9b-46ea-b459-9ac8cbdb0d07"/>
                <ee:transform doc:name="Set Error Response" doc:id="02df0931-6e68-497e-a907-4d737d94a74e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "E", message: error.description default "Unexpected error"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="ERROR" message="#['send-bulk-sms-flow unexpected error: ' ++ (error.description default '')]" doc:name="Log Error" doc:id="ec9f5a5d-b19a-4f28-acbb-4d386537461f"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- ==================== FLOW 2: SEND SINGLE SMS ==================== -->

    <flow name="send-single-sms-flow" doc:id="ba36b1aa-d647-481a-a73d-1f5ed9ae3126">
        <http:listener doc:name="Listener" doc:id="a120c383-ba52-4007-86b9-2ac29139319a" config-ref="HTTP_Listener_config" path="/sb-sms/send-single" allowedMethods="POST">
            <http:error-response statusCode="#[vars.httpStatus default 500]"/>
        </http:listener>
        <logger level="INFO" message="ClaudeCode-SB-SMS-Services - send-single-sms-flow - START" doc:name="Logger" doc:id="edcdf674-94ac-4e17-a821-621d9fad3200"/>

        <!-- Store all inputs into vars with trim() -->
        <set-variable variableName="senderName" value="#[trim(payload.senderName default '')]" doc:name="Store Sender Name" doc:id="b398cbad-2783-4e4e-bbf1-b009c321eee0"/>
        <set-variable variableName="sendId" value="#[trim(payload.sendId default '')]" doc:name="Store Send ID" doc:id="d76df858-d9d0-4265-9ec9-b84553b7c01f"/>
        <set-variable variableName="subscriber" value="#[trim(payload.subscriber default '')]" doc:name="Store Subscriber" doc:id="2342e29c-dc56-4d69-97de-63e51f690bdd"/>
        <set-variable variableName="message" value="#[trim(payload.message default '')]" doc:name="Store Message" doc:id="1bd5b53a-06bf-4bd6-9450-982cf0838b41"/>
        <set-variable variableName="telemesserUsername" value="${telemesser.username}" doc:name="Store Telemesser Username" doc:id="6d760358-a852-4d29-bd02-c26feaf0e6c1"/>
        <set-variable variableName="telemesserPassword" value="${telemesser.encryptPassword}" doc:name="Store Telemesser Password" doc:id="6b0ddbf1-9bad-4fa0-aa48-b7bd0e78d6a1"/>

        <logger level="INFO" message="#['Single SMS request received - sendId: ' ++ vars.sendId ++ ', subscriber: ' ++ vars.subscriber]" doc:name="Log Request" doc:id="fedc59bd-e415-461c-bbfb-146ee151bac2"/>

        <!-- Validate required fields -->
        <choice doc:name="Validate Required Fields" doc:id="dd3a2a7c-f111-445b-aca0-2fffab098b2c">
            <when expression="#[sizeOf(vars.senderName) == 0 or sizeOf(vars.sendId) == 0 or sizeOf(vars.subscriber) == 0 or sizeOf(vars.message) == 0]">
                <raise-error type="APP:INVALID_INPUT" description="Missing required field. senderName, sendId, subscriber, and message are all required." doc:name="Raise Invalid Input Error" doc:id="789d0449-05a3-4531-8b5a-8a4c5b0f80c3"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Input validation passed" doc:name="Validation Passed" doc:id="537a0aa3-63db-4e8c-8d73-98d03a6263ab"/>
            </otherwise>
        </choice>

        <!-- Build and send Telemesser request -->
        <ee:transform doc:name="Build Telemesser Request Body" doc:id="a7bf65aa-1877-4379-bdc0-0c6d7af82055">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    Credentials: {
        UserName: vars.telemesserUsername,
        EncryptPassword: vars.telemesserPassword
    },
    SenderName: vars.senderName,
    DeliveryDelayInMinutes: 0,
    ExpirationDelayInMinutes: 300,
    SendId: vars.sendId,
    Messages: [{
        Cli: vars.subscriber,
        Text: vars.message,
        MsgId: uuid()
    }]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <http:request method="POST" doc:name="Call Telemesser SendSMS API" doc:id="9af60d58-6222-4a20-a8bf-411a55abd91b" config-ref="Telemesser_Request_config" path="/api/SendSMS">
            <http:headers><![CDATA[#[{'Content-Type': 'application/json'}]]]></http:headers>
        </http:request>

        <!-- Build success response -->
        <ee:transform doc:name="Build Success Response" doc:id="5e2765b7-fb61-4182-ae23-5b96d03ac2aa">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "S", message: ""}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <logger level="INFO" message="#['Single SMS sent successfully - subscriber: ' ++ vars.subscriber ++ ', sendId: ' ++ vars.sendId]" doc:name="Log Success" doc:id="2a24f6fb-ff4f-40f6-92ac-9f4ee81c2ff8"/>
        <logger level="INFO" message="ClaudeCode-SB-SMS-Services - send-single-sms-flow - END" doc:name="Logger" doc:id="7e1b11fc-1dcf-498b-bb11-566afec0fba8"/>

        <error-handler>
            <on-error-continue enableNotifications="true" logException="false" doc:name="On Error Continue" doc:id="f9e7d3de-983d-4716-b149-ecc42c4d00fe" type="APP:INVALID_INPUT">
                <set-variable variableName="httpStatus" value="400" doc:name="Set HTTP Status 400" doc:id="13e3a84c-e306-47a8-a97a-5ad6f255547a"/>
                <set-payload value="#['Bad Request: ' ++ (error.description default '')]" doc:name="Set Error Payload" doc:id="89469eab-8c22-441e-82b9-d539c6b09a79" mimeType="text/plain"/>
                <logger level="WARN" message="#['send-single-sms-flow validation error: ' ++ (error.description default '')]" doc:name="Log Validation Error" doc:id="b7b0f48f-5f8f-4696-9dd5-9dc9555e5049"/>
            </on-error-continue>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="433ca5a5-57ae-4971-b0f8-667e864ec6cf" type="ANY">
                <set-variable variableName="httpStatus" value="500" doc:name="Set HTTP Status 500" doc:id="06e0063d-670e-45a3-9c4c-1bae7ec6cbd1"/>
                <ee:transform doc:name="Set Error Response" doc:id="a8988cb7-2174-4783-bbd2-f7a5265c2f69">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "E", message: error.description default "Unexpected error"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="ERROR" message="#['send-single-sms-flow unexpected error: ' ++ (error.description default '')]" doc:name="Log Error" doc:id="ddd21b55-56b1-4e18-b3d9-a59fe1639b86"/>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- ==================== FLOW 3: HANDLE RETURNING MESSAGES ==================== -->

    <flow name="handle-returning-messages-flow" doc:id="7e6b716e-7adb-4637-a0ff-51f53174378b">
        <http:listener doc:name="Listener" doc:id="0fd0e83a-7a28-4460-8818-dae8ac9aefa9" config-ref="HTTP_Listener_config" path="/sb-sms/callback" allowedMethods="GET">
            <http:error-response statusCode="#[vars.httpStatus default 500]"/>
        </http:listener>
        <logger level="INFO" message="ClaudeCode-SB-SMS-Services - handle-returning-messages-flow - START" doc:name="Logger" doc:id="1d96af28-2108-4d7b-9c06-6aefcad537dd"/>

        <!-- Store query params into vars with trim() -->
        <set-variable variableName="sender" value="#[trim(attributes.queryParams.Sender default '')]" doc:name="Store Sender" doc:id="207ec662-5dbc-4919-b19d-160d1ec29f9d"/>
        <set-variable variableName="text" value="#[trim(attributes.queryParams.Text default '')]" doc:name="Store Text" doc:id="1860a4a8-4419-4a39-b808-81944e4d6fbc"/>

        <logger level="INFO" message="#['Returning message received - sender: ' ++ vars.sender ++ ', text: ' ++ vars.text]" doc:name="Log Callback Received" doc:id="4810de0e-93da-4ec8-b5e5-a0d9697ea7ea"/>

        <!-- Process opt-out (Text == "1") -->
        <choice doc:name="Check for Opt-Out" doc:id="78eaf9c2-2eb9-4b6c-a76a-f37aaa0319e3">
            <when expression="#[vars.text == '1']">
                <salesforce:publish-platform-event-message platformEventName="SMSProviderEvent__e" doc:name="Publish platform event message" doc:id="51556a29-185c-4324-99ac-ee55af3a5541" config-ref="Salesforce_Config">
                    <salesforce:platform-event-messages><![CDATA[#[[{
    "Type__c": "RemovalFromDistribution",
    "PhoneNumber__c": vars.sender
}]]]]></salesforce:platform-event-messages>
                </salesforce:publish-platform-event-message>
                <logger level="INFO" message="#['Opt-out processed - published SMSProviderEvent for sender: ' ++ vars.sender]" doc:name="Log Opt-Out Processed" doc:id="eed5edd8-74fd-4169-a6f9-9d5c2bdf57cf"/>
            </when>
            <otherwise>
                <email:send config-ref="Email_SMTP_Config" subject="SMS Removal Request - Reply Not Confirmed" doc:name="Send Removal Alert Email" doc:id="c4f2a1b8-9e3d-4c7a-b6f5-2a8d1e0f3c96">
                    <email:to-addresses>
                        <email:to-address value="ohadp@yaelsoft.com"/>
                    </email:to-addresses>
                    <email:body>
                        <email:content><![CDATA[#['Customer with phone number ' ++ vars.sender ++ ' requested removal from the SMS distribution list but replied ' ++ vars.text ++ ' instead of 1. Their removal request was NOT applied.']]]></email:content>
                        <email:contentType>text/plain</email:contentType>
                    </email:body>
                </email:send>
                <logger level="INFO" message="#['Non-opt-out removal request - sender: ' ++ vars.sender ++ ', replied: ' ++ vars.text ++ ' (not 1). Alert email sent, removal NOT applied.']" doc:name="Log Removal Alert Sent" doc:id="eaae0338-4483-4a34-ae87-55c64bd1f75d"/>
            </otherwise>
        </choice>

        <set-payload value="OK" doc:name="Set HTTP 200 Response" doc:id="63bcf556-6e10-4ddc-8b29-bb5b6f3572e3" mimeType="text/plain"/>
        <logger level="INFO" message="ClaudeCode-SB-SMS-Services - handle-returning-messages-flow - END" doc:name="Logger" doc:id="edb81190-acfe-4d58-9c68-af4757c3deb4"/>

        <error-handler>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5034c07d-1630-48ac-ac93-36685d5d5e40" type="ANY">
                <set-variable variableName="httpStatus" value="500" doc:name="Set HTTP Status 500" doc:id="a3abb19c-f8a4-4731-a2f0-6e09ac2fe09d"/>
                <set-payload value="#['Internal error: ' ++ (error.description default '')]" doc:name="Set Error Payload" doc:id="212d5fc1-984d-466c-821a-0be994d602d5" mimeType="text/plain"/>
                <logger level="ERROR" message="#['handle-returning-messages-flow error: ' ++ (error.description default '')]" doc:name="Log Error" doc:id="82ce5c82-55d9-4903-beda-283f3ba32b7b"/>
            </on-error-continue>
        </error-handler>
    </flow>

</mule>
